h1><%= @meal.title %></h1>
<div>

<div>

<h2>Ingredients</h2>
<% @meal.ingredients.each do |ingredient|%>
  <% mi = @meal.meals_ingredients.find { |mi| mi.ingredient_id == ingredient.id } %>
  <li><%= ingredient.name %>
 <%= link_to "Delete", meals_ingredient_path(mi), method: :delete %> 
  
  </li>
  
<% end%>