<h1>Ingredient List</h1>

<% @ingredients.each do |ingredient|%>
<li>
  <%= ingredient.name %>
   <%= link_to "Edit", edit_ingredient_path(ingredient) %> 
  <% end %>
  <br>
  <br>
  <%= link_to "Back to Meal's list", meals_path %>
