<% if @meal %>
<h1><%= @meal.title %></h1>
<% else %>
<h1>Ingredient List</h1>
<% end %>
<% @ingredients.each do |ingredient|%>
<li>
  <%= link_to ingredient.name, "#", {id:"ingredientName", data:{ingredient_id: ingredient.id}} %>
  <div id="ingredientName-<%=ingredient.id%>">
  </div>
  <% end %>
  <br>
  <br>
  <%= link_to "Back to Meal's list", meals_path %>
