<h3><%= @meal.title%></h3>

<% @ingredients.each do |ingredient| %>
<% mealing = @meal.meals_ingredients.find { |mi| mi.ingredient_id == ingredient.id } %>
<li><%= ingredient.name %> (<%= mealing.amount %>)
<% end %>

