<h1> Your Favorite Meals </h1>

<% @meals.each do |meal|%>
  
  <li>
    <%= link_to meal.title, meal_ingredients_path(meal)%>
    <%= link_to "Edit", edit_meal_path(meal) %>
  </li>
  <% end %>
    <br>
    <%= link_to "Make a new meal", new_meal_path(@meal)%>

    <h4> Vegetarian Meals</h4>
  <% Meal.vegetarian.each do |meal|%>
  <li>
  <%= link_to meal.title, meal_ingredients_path(meal) %>
  </li>
  <% end %>
    <br>